/* * {
  background-color: lightgray;
}

ol {
  color: blue;
  font-style: italic
}

ul li a{ 
  background-color: pink;
}

.teal {
  color: teal;
} */

body {
  background-color: #092834;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  /* padding: 5px; */
  width: 75%;
  margin: auto;
  border-style: dotted;
  border-width: 1px;
  background-color: #F7E0D4;
  display: block;
}

header {
  background-color: #1461B8;
  width: 77%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  /* display: block; */
}

footer {
  background-color: #1461B8;
  width: 77%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  /* display: block; */
}

nav {
  display: inline-block;
}

nav li {
  display: inline;
}

.yes {
  color: green;
  font-weight: bold;
}

.no {
  color: red;
  font-weight: bold;
}

.bonus {
  margin-left: 10px;
  margin-bottom: 1px;
  font-style: italic;
}

.questionAsked {
  text-decoration: underline;
}

.question {
  font-weight: bold;
  text-decoration: none;
}
