body {
  background-color: #092834;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  width: 75%;
  margin: auto;
  border-style: dotted;
  border-width: 1px;
  background-color: #F7E0D4;
  display: block;
}

header {
  background-color: #1461B8;
  width: 77%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  color: #F7E3D4;
}

footer {
  background-color: #1461B8;
  width: 77%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  color: #F7E3D4;
}

nav {
  display: inline-block;
}

nav li {
  display: inline;
}

.yes {
  color: green;
  font-weight: bold;
}

.no {
  color: red;
  font-weight: bold;
}

.bonus {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1px;
  font-style: italic;
  border-style: solid;
  border-width: 1px;
  box-shadow: 7px 7px 1px 1px rgba(84, 255, 147, .4);
}

/* .bonus-right {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1px;
  font-style: italic;
  box-shadow: inset 5px 0px 20px -5px green;
} */

.questionAsked {
  text-decoration: underline;
}

.left-container {
  clear: left;
}

.left-container-end {
  clear: left;
  padding-bottom: 75px;
}

.left-float {
  float: left;
  width: 50%; 
}

.right-container {
  clear: right;
}

.right-container-end {
  clear: right;
  padding-bottom: 75px;
}

.right-float {
  float: right;
  width: 50%;
}

.question {
  font-weight: bold;
  text-decoration: none;
}
